* {
    font-family: 'Open Sans', 'Noto+Sans+JP';
    color: rgb(68,68,68);
    //background-color: rgb(249,249,249);
}

a {
    text-decoration-line: none;
}

a:hover {
    opacity: 0.23;
}


.section {
    margin-top: 20px;
    margin-bottom: 40px;     
}

p {
    letter-spacing: 0.021rem;

}